.cart {
    max-width: 30rem;
    background-color: #000000;
    color: white;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    overflow-y: scroll;
    height: 100%;
    animation: mymove 0.5s;
    animation-timing-function: ease-out;
}

.cart h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

.cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart button {
    background: transparent;
    color: white;
    font-size: 24px;
    border: none;
}

.CartClose{
    animation: myclosemove 0.5s !important;
    animation-timing-function: ease-in !important;
}

@keyframes mymove {
    from {
        right: -300px;
    }
    to {
        right: 0px;
    }
}

@keyframes myclosemove {
    from {
        right: 0px;
    }
    to {
        right: -300px;
    }
}
